.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .blocks {
    display: flex;
    flex-direction: column;
    padding: 1.7rem;

    .block {
      position: relative;

      button {
        position: absolute;
        top: 2px;
        left: -1.5rem;
        z-index: 1;
        background: none;
        border: none;
        font-size: 1.6rem;
        opacity: .3;
        cursor: pointer;
      }

      .lineNum {
        position: absolute;
        top: 10px;
        right: 1.5rem;
        font-size: .8rem;
        color: #666;
      }

      button, .lineNum {
        display: none;
      }

      &:hover {
        button, .lineNum {
          display: inline-block;
        }
      }
    }

    textarea {
      width: 100%;
      font-size: 1rem;
      color: #666;
      padding: .5rem;
      padding-right: 2rem;
      border: none;
      outline: none;
      resize: none;
      overflow: hidden;
      white-space: normal;
      position: relative;
    }
  }

  .preview {
    img {
      max-width: 50%;
      margin-inline: auto;
      display: block;
    }

    a {
      color: blueviolet;
    }

    blockquote {
      background:		#f9f9f9;
      border-left:	10px solid #ccc;
      margin:			1.5em 10px;
      margin-left: 0;
      padding:		.5em 10px;
      quotes:			"\201C""\201D""\2018""\2019";

      // &::before {
      //   content:		open-quote;
      //   color:			#ccc;
      //   font-size:		2rem;
      //   line-height:	.1em;
      //   vertical-align:	-.4em;
      // }

      p {
        display:		inline;
      }
    }

    table {
      margin-bottom: 1.2rem;
      width: 100%;

      th {
        border-bottom: 2px solid #ccc;
        font-weight: bold;
        text-align: left;
      }

      td { border-bottom: 1px solid #ddd; }

      caption, th, td {
        padding: 4px 10px 4px 0;
      }

      caption {
        background: #f1f1f1;
        padding: 10px 0;
        margin-bottom: 1em;
      }
      
      tr,td,th {
        vertical-align: middle;
      }
    }
  }

  .preview, .blocks {
    padding-bottom: 2rem;
  }
}