@import "./variables.module.scss";

.container {
  padding: 1rem;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding-inline: 1rem;

    .navLeft, .navRight {
      display: flex;
      align-items: center;
      gap: 2rem;
    }

    .navLeft {
      a {
        opacity: .65;
      }

      input {
        font-size: 1.3rem;
        font-weight: bold;
        border: none;
        outline: none;
        padding: 0;
        padding-top: .2rem;
      }
    }

    .navRight {
      button {
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 3px;
        color: #fff;
        background: $primary-color;
        cursor: pointer;
      }

      .icon {
        border-radius: 50%;
        padding: .5rem;
        width: 40px;
        height: 40px;
      }
      
      .inactive {
        color: $primary-color;
        background: none;
        border: 1px solid $primary-color;
      }

      .delete {
        color: tomato;
        background: none;
      }
    }
  }
}