@import "./variables.module.scss";

.main {
  padding: 1rem 3rem;
  width: 50%;
  margin-inline: auto;

  .note {
    display: block;
    border-bottom: 1px solid #ccc;
    padding-bottom: .5rem;
    margin-bottom: .5rem;
    
    &:hover {
      color: $link-color;
    }
  }
}